body {
    margin: 0px;
    padding: 0 px;
    background: rgb(165, 210, 165);
}

.star{
    width: 100px;
    height: 100px;
    position: relative;
    left: 45%;
    top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.star i{
    font-size: 60px;
    color: white;
}

.star::before{
    content: "";
    width: 160px;
    height: 4px;
    position: absolute;
    left: -160px;
    background: white;
}

.star::after{
    content: "";
    width: 160px;
    height: 4px;
    position: absolute;
    left: 100px;
    background: white;
}

